.watchlist {
    display: flex;
    flex-direction: column;

    &-listtitle {
        text-align: left;
        padding: 8px;
    }
    &-header {
            /* justify-content: space-between; */
            text-align: left;
            /* padding: 1px 2px; */

    }

    &-table {
        width: 100%;
        border-collapse: collapse;
        

        th, td {
            padding: 8px;
            font-size: small;
            border-bottom: 1px solid #525151;
        }

        th {
            align-items: start;
            color: gray;
        }
    }
}